.card-container {
	margin-bottom: 4rem;
	padding: 2rem;
	display: flex;
	border: none;
	border-radius: 2.4rem;
	align-items: center;
	/* background-color: #f9f9f9; */
	box-shadow: 0.4rem 0.4rem 0.12rem 0.12rem #97d2ec;
}

.card-container figure {
	margin-right: 4rem;
	width: 20rem;
	border-radius: 2.4rem;
	overflow: hidden;
	box-shadow: -0.4rem 0.4rem 0.12rem 0.12rem #97d2ec;
}

.card-container figure img {
	width: 100%;
}

.card-container article {
	width: 100%;
	text-align: center;
}
